# Server settings
PORT=4000
OPENAI_API_KEY=
LIBRETRANSLATE_URL=https://libretranslate.com
LIBRETRANSLATE_API_KEY=

# Client settings
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_DEFAULT_SOURCE=en
NEXT_PUBLIC_DEFAULT_TARGET=es
